{% extends "base.html" %}
 
{% block mainbody %}
    <form method="post">
        {% csrf_token %}
        <div>{{ form }}</div>
        <div>
            <button name="userAdd" type="submit">userAdd</button>
            <button name="userSearch" type="submit">userSearch</button>
        </div>
        <div>
            {% for row in ary %}
                <div>{{ row.name }}/{{ row.age }}</div>
            {% endfor %}
        </div>
        {% load static %}
        <script src="{% static "js/index.js" %}"></script>
    </form>
{% endblock %}